{{# partial "titulo" }}	
	<title>Terminal Index</title>
{{/partial}}

{{#partial "contenido"}}

<h1>Terminal {{usuario.nombre}} de {{usuario.comunaQuePertenece.nombre}}</h1>


		Comuna Info:
		<p>
			<h4>{{usuario.comunaQuePertenece.nombre}}</h4>
			{{usuario.comunaQuePertenece.lat1}}, {{usuario.comunaQuePertenece.long1}}
		</p>


	<table class="table table-stripped">

		
		<form action="/pois/buscar">
			<select name="tipoFiltro">
			  <option value="todos"> Mostrar Todos </option>
			  <option value="Banco">Banco</option>
			  <option value="CGP">CGP</option>
			  <option value="ParadaColectivo">ParadaColectivo</option>
			  <option value="Comercio">Comercio</option>
			</select>
			<input type="submit" value="Filtrar"><br />
			<input type="text" name="busqueda" placeholder="Ingrese poi deseado" />
			<input type="text" name="servicios" placeholder="Ingrese servicio deseado"/>
			<input type="submit" value="Buscar">
		</form>
		
		
	</table>

{{/partial}}

{{>layout.hbs}}
