{{# partial "titulo" }}	
	<title> Pois </title>
{{/partial}}

{{# partial "contenidoAdmin" }}	

 <h1>Administracion de Pois</h1>

<form action="/filtrarTipo" >
	<select name=tipoFiltro>
	  <option value="Todos">Todos</option>
	  <option value="Banco">Banco</option>
	  <option value="CGP">CGP</option>
	  <option value="ParadaColectivo">ParadaColectivo</option>
	  <option value="Comercio">Comercio</option>
	<input type="submit" value="Filtrar"> 
</form>

<form action="/filtrarNombre" >
	<input type="text" name="nombreFiltro"><input type="submit" value="Filtrar">
</form>

	<table class="table table-stripped">
		<h4>Listado de POIs</h4>

		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Tipo</th>
			<th>Direccion</th>
			<th>Coordenada</th>
			<th></th>
		</tr>

		{{#each listaPois}} <!-- clase POI -->
		<tr>
			<td>{{id}}</td>
			<td>{{nombre}}</td>
			<td>{{TipoPoi}}</td>
			<td>{{direccion.direccionCompuesta}}</td>
			<td>({{coordenada.latitud}};{{coordenada.longitud}})</td>
			<td><form action="/pois/{{id}}" method="delete"><input type="submit" value="Eliminar"></submit></form></td>
			<td><a href="/modificarPoi/{{id}}">Modificar</a></td>
		</tr>
		{{/each}}

	</table>

{{/partial}}
				
{{>layoutAdmin.hbs}}